:root {
    --primary-color: hsl(0, 100%, 50%);
    --primary-color-light: hsl(5, 95%, 56%);
    --primary-color-dark: hsl(0, 100%, 28%);
    --secondary-color: hsl(207, 34%, 50%);
    --secondary-color-light: hsl(208, 90%, 76%);
    --secondary-color-dark: hsl(204, 45%, 26%);
    --gray-100: hsl(0, 0%, 100%);
    --gray-300: hsl(201, 42%, 89%);
    --gray-500: hsl(202, 12%, 57%);
    --gray-700: hsl(206, 25%, 16%);
    --gray-900: hsl(210, 100%, 5%);
    --black-light: rgb(25, 25, 25);
    --black-dark: rgb(0, 0, 0);

    --header-height: 3.5rem;

    --biggest-font-size: 2.75rem;
    --big-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-regular: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 800;

    --serif-family: 'Playfair Display', serif;
    --sans-family: 'Inter', sans-serif;
    --cursive-family: 'Dancing Script', cursive;

    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--sans-family);
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--primary-color);
    background-color: var(--gray-300);

}

.about__page {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    /* padding: 2rem 1rem 0rem 1rem; */
    
    /* background-color: var(--gray-300); */
}

.about__text {
    text-align: justify;
    margin: 1rem 1rem;
    padding: 1rem 0.31rem;
    font-size: var(--normal-font-size);

}

.about__text h2 {
    /* border-bottom: 4px solid var(--primary-color-dark);
    border-bottom-right-radius: 5rem; */
    margin: 1.5rem;
    font-size: var(--h1-font-size);
    letter-spacing: 0.1rem;
    line-height: 1.56rem;
    color: var(--primary-color-dark);
    font-weight: var(--font-semi-bold);
    text-align: center;

}



.about__text p {
    line-height: 1.56rem;
    font-weight: var(--font-medium);
}


.about__image img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 1.6rem;
  

}

.about_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    height: 2.4rem;
    outline: none;
}
.link 
{ 
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color:var(--primary-color-dark);
    text-decoration: none;
    font-size: var(--normal-font-size);
    color: var(--gray-100);
    width: 7.375rem;
    border: none;
    border-radius: 0.313rem;
}
.link:hover {
    cursor: pointer;
    border: 2px solid var(--primary-color-dark);
    background-color: var(--gray-100);
    color: var(--black-dark);
    transition: all 0.9s ease-in-out;
}
.our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.center {
    text-align: center;
    margin: 1.5rem;
    font-size: var(--h1-font-size);
    letter-spacing: 0.1rem;
    line-height: 1.56rem;
    font-weight: var(--font-semi-bold);
    color: var(--primary-color-dark);
}

.team-member {
    text-align: center;
    width: 48%;
    margin-bottom: 20px;
    padding: 20px;
}

.team-member:hover {
    transition: all 0.9s ease-in-out;
    box-shadow: 0px 0px 3.61212px 1.80606px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.team-member img {
    width: 100%;
    height: auto;
    border: 2px solid var(--primary-color-dark);
    border-radius: 50%;
}

.team-member h3 {
    margin: 5px 0;
    font-size: var(--h1-font-size)
}

.team-member p {
    margin: 5px 0;


}

.social-media a {
    margin-right: 5px;
    color: hsl(203, 11%, 29%);
    font-size: 20px;


}
  
  /* Media Queries */
  @media screen and (min-width: 768px) {
    .about__page{
       flex-direction: row;
       padding: 2rem;
    }
    .about__text {
        flex: 1;
        margin: 2rem;
      }
    
    .about__text p{
       text-align: justify;
       font-size: var(--normal-font-size);
    }
    .about__image img {
        width: 400px;
        height: 280px;
      }
    
    .team-member {
      width: 31%;

    }
  }
  
  @media screen and (min-width: 1024px) {
    .about__text {
        margin: 2rem 4rem;
      }
          .about__image img {
        width: 500px;
        height: 350px;
      }
    .team-member {
      width: 23%;
    }
  }
  
  @media screen and  (min-width: 1244px) {
    .about__text {
        margin: 2rem 6rem;
      }
    
      .about__image img {
        width: 600px;
        height: 420px;
      }
    .team-member {
      width: 18%;
    }
  }
  
  @media  screen and (max-width: 350px) {
    .team-member {
      width: 100%;
    }
  }