:root {
    --primary-color: hsl(0, 100%, 50%);
    --primary-color-light: hsl(5, 95%, 56%);
    --primary-color-dark: hsl(0, 100%, 28%);
    --secondary-color: hsl(207, 34%, 50%);
    --secondary-color-light: hsl(208, 90%, 76%);
    --secondary-color-dark: hsl(204, 45%, 26%);
    --gray-100: hsl(0, 0%, 100%);
    --gray-300: hsl(201, 42%, 89%);
    --gray-500: hsl(202, 12%, 57%);
    --gray-700: hsl(206, 25%, 16%);
    --gray-900: hsl(210, 100%, 5%);
    --black-light: rgb(25, 25, 25);
    --black-dark: rgb(0, 0, 0);

    --header-height: 3.5rem;

    --biggest-font-size: 2.75rem;
    --big-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-regular: 300;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 800;

    --serif-family: 'Playfair Display', serif;
    --sans-family: 'Inter', sans-serif;
    --cursive-family: 'Dancing Script', cursive;

    --z-tooltip: 10;
    --z-fixed: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: var(--sans-family);
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: var(--primary-color);
    background-color: var(--gray-300);

}

/*about*/
.about__page {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 10rem 1rem;

    background-color: var(--gray-300);
}

.about__text {
    text-align: center;
    margin: 2rem 1rem;
    padding: 2rem 0.31rem;
    font-size: var(--normal-font-size);
    
}

.about__text h2 {
    margin: 2rem;
    font-size: var( --h1-font-size);
    letter-spacing: 0.1rem;
    line-height: 1.56rem;
    font-weight: var(--font-bold);


}
.about__text p{
    line-height: 1.56rem;
    font-weight: var(--font-medium);
}



.about__image {
    width: 300px;
    height: 220px;
    object-fit: cover;
    margin-bottom: 2rem;
   
}

.about_btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;

}

.about__button {
    font-size: var(--normal-font-size);
    color: var(--gray-100);
    background-color: var(--primary-color-dark);
    width: 7.375rem;
    height: 2.4rem;
    outline: none;
    border: none;
    border-radius: 0.313rem;
}

.about__button:hover {
    cursor: pointer;
    border: 2px solid var(--primary-color-dark);
    background-color: var(--gray-100);
    color: var(--black-dark);
    transition: all 0.9s ease-in-out;
}







@media screen and (max-width:350px ){
    .about__text h2{
        line-height: 1.5rem; 

            }
         
    
   


    
   

} 
